@import "/src/sass/imports";

.footer {
	text-align: center;
	font-size: $font-size-sm;

	@include make-padded-widget;
}

.footer__paragraph {
	&:first-of-type {
		margin-top: 0;
	}

	&:last-of-type {
		margin-bottom: 0;
	}
}